@using EasyBlog.Data
@model List<Category>



<ul class="list-unstyled mb-0">
    @foreach (var category in Model)
    {
        <li><a asp-controller="Home" asp-action="Index" asp-route-cid="@category.Id">@category.Name</a></li>
    }
</ul>